@media screen  {
    content{
        float: right;
        width: 100%;
        overflow: auto;
        
        color: black;
        }
    
     content .img{
         width: 100%;
     }    

        .card {
            
            
            margin-top: 20px;
            background-color:white;
            overflow: auto
        }
        
        
        *{
            box-sizing: border-box;
             }
}
        



    